.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 500px;
    height: 500px;
    background-color: blue; */
  }
  
  .main {
      /* background-color: blue; */
      width: 600px;
      min-height: 50vh;
      padding: 4rem 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
    }
  
  .main .textarea {
      /* width: 700px; */
      width: 100%;
      height: 20vh;
      margin: 30px 0;
      /* padding: 20px; */
  }
  
  .hr {
      width: 600px;
  }
  
  .explanation {
      width: 600px;
      margin: 30px 0;
  }