@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Noto+Sans+KR:wght@500&family=Nunito:ital@1&display=swap');


html > body {
  font-family:"Noto Sans KR";
}

/* base setting */
* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

/* add setting */
* {
  box-sizing: border-box;
}


/* .app {
  width: 100%;
  min-width: 2000px;
  justify-content: center;
  align-items: center;
} */
